**Instrucciones**

**1.Preparación del Entorno**

*Asegúrate de tener instalado Pandas en tu entorno de trabajo.

*Utiliza el archivo retail_sales.csv del proyecto inicial. Si aún no lo tienes, descarga el archivo correspondiente.

In [1]:
#Importaciones de las librerías pandas, numpy y matplotlib
import pandas as pd

**2.Cargar los Datos**
* Carga el archivo retail_sales.csv en un DataFrame de Pandas.

* Muestra las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctamente.

In [3]:
path = '../data/retail_sales_dataset.csv'
data_frame = pd.read_csv(path, sep=',', header=0)
data_frame.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

**3.Exploración Inicial de los Datos**

* Muestra las últimas 5 filas del DataFrame.

In [4]:
# Muestra las últimas 5 filas del DataFrame
print(data_frame.tail(5))

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

* Utiliza el método info() para obtener información general sobre el DataFrame, incluyendo el número de entradas, nombres de las columnas, tipos de datos y memoria utilizada.

In [5]:
# Muestra información general sobre el DataFrame
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

**Genera estadísticas descriptivas del DataFrame utilizando el método describe().**

In [6]:
# Generar estadísticas descriptivas del DataFrame
print(data_frame.describe())

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

**4.Inspección de los Datos**

*Inspecciona los tipos de datos de cada columna utilizando el atributo dtypes.

In [7]:
# Inspeccionar los tipos de datos de cada columna
print(data_frame.dtypes)

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

* Cuenta los valores únicos en la columna Producto utilizando el método value_counts().

In [9]:
# Contar los valores únicos en la columna 'Producto'
print(data_frame['Product Category'].value_counts())

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

* Muestra todos los valores únicos en la columna Tienda utilizando el método unique().

In [10]:
# Muestra todos los valores únicos en la columna 'Product Category'
print(data_frame['Product Category'].unique())

['Beauty' 'Clothing' 'Electronics']

**5.Filtrado de Datos**

* Filtra el DataFrame para mostrar solo las filas donde las ventas (Ventas) sean mayores a 50.

In [11]:
# Filtrar el DataFrame para mostrar solo las filas donde 'Total Amount' sea mayor a 50
filtered_data = data_frame[data_frame['Total Amount'] > 50]

# Mostrar las primeras filas del DataFrame filtrado
print(filtered_data)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
7                 8  2023-02-22     CUST008    Male   30      Electronics
..              ...         ...         ...     ...  ...              ...
993             994  2023-12-18     CUST994  Female   51           Beauty
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
1           2             500          1000
3           1             500           500
4           2              50           100
7           4              25           100
..        ...             ...           ...
993         2             500          1000
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

[783 rows x 9 columns]

* Filtra el DataFrame para mostrar solo las filas donde el precio (Precio) sea menor a 0.5.

In [12]:
# Filtrar el DataFrame para mostrar solo las filas donde 'Price per Unit' sea menor a 0.5
filtered_data = data_frame[data_frame['Price per Unit'] < 0.5]

# Mostrar las primeras filas del DataFrame filtrado
print(filtered_data)

Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

* Utilizando el método query(), filtra el DataFrame para mostrar las filas donde el producto sea Manzanas y las ventas sean mayores a 30.

In [15]:
# Filtrar el DataFrame para mostrar solo las filas donde el producto es 'Manzanas' y las ventas sean mayores a 30
filtered_data = data_frame.query('`Product Category` == "Manzanas" and `Total Amount` > 30')
# Mostrar las primeras filas del DataFrame filtrado
print(filtered_data)

Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

**6.Slicing de Datos**

* Selecciona y muestra solo las columnas Producto y Ventas del DataFrame.

In [16]:
# Seleccionar solo las columnas 'Product' y 'Total Amount'
selected_columns = data_frame[['Product Category', 'Total Amount']]

# Mostrar las primeras filas de las columnas seleccionadas
print(selected_columns)

    Product Category  Total Amount
0             Beauty           150
1           Clothing          1000
2        Electronics            30
3           Clothing           500
4             Beauty           100
..               ...           ...
995         Clothing            50
996           Beauty            90
997           Beauty           100
998      Electronics           150
999      Electronics           120

[1000 rows x 2 columns]

* Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Producto y Tienda.

In [17]:
# Seleccionar las filas de la 5 a la 10 (inclusive) y las columnas 'Product' y 'Store'
selected_data = data_frame.loc[5:10, ['Product Category', 'Total Amount']]

# Mostrar las filas seleccionadas
print(selected_data)

   Product Category  Total Amount
5            Beauty            30
6          Clothing            50
7       Electronics           100
8       Electronics           600
9          Clothing           200
10         Clothing           100

* Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame.

In [18]:
# Seleccionar las primeras 5 filas y las primeras 3 columnas
selected_data = data_frame.iloc[:5, :3]

# Mostrar las filas y columnas seleccionadas
print(selected_data)

   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005